*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Bricolage Grotesque", sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    width: 480px;
    padding: 30px 50px;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-box {
    text-align: left;
    margin-bottom: 18px;
}

.input-box label {
    display: block;
    font-size: 15px;
    color: #555;
    margin-bottom: 5px;
}

.input-box input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: #1877f2;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background: #0f5edc;
}

#loginMessage {
    margin-top: 12px;
    color: red;
    font-size: 15px;
    font-weight: 600;
}
