
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.register-container {
  width: 100%;
  max-width: 450px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 40px 30px;
}



.register-box h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #0e1a2b;
  font-weight: 600;
}

.form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #333;
  margin-bottom: 6px;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #e16b2f;
  outline: none;
}

/* Nút đăng ký */
.btn-submit {
  width: 100%;
  padding: 14px;
  background-color: #e16b2f;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #c85a22;
}

/* Dòng chuyển sang đăng nhập */
.login-link {
  text-align: center;
  font-size: 13px;
  margin-top: 18px;
  color: #444;
}

.login-link a {
  color: #e16b2f;
  text-decoration: none;
  font-weight: 600;
}

.login-link a:hover {
  text-decoration: underline;
}