*{
    box-sizing: border-box;
}

body {
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0;
    display: flex;
    background: #f8f9fa;

    height: 100vh;        /* ⭐ full màn hình */
    overflow: hidden; 
}

/* ========== Sidebar ========== */
.sidebar {

    width: 250px;
    background: #1f2937;
    color: white;
    height: 100vh;
    padding: 20px;

    position: fixed;
    height: 100vh;
    overflow-y: auto; 
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 40px;
}

.sidebar .logo img {
    width: 80px;
    margin-bottom: 10px;
}


.sidebar nav a {
    display: block;
    color: #d1d5db;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.2s;
}

.sidebar nav a.active,
.sidebar nav a:hover {
    background: #374151;
    color: white;
}

/* ========== Main ========== */
.main {
   
    flex: 1;
    padding: 30px;
    margin-left: 250px;  /* ⭐ chừa chỗ sidebar */
    height: 100vh;       /* ⭐ full chiều cao */
    overflow-y: auto; 
   
}

.title {
    font-size: 28px;
    margin-bottom: 30px;
}

/* ========== Table ========== */
.order-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

.order-table th {
    background: #2a2b33;
    color: white;
    padding: 12px;
}

.order-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.order-table tr:hover {
    background: #f0f0f0;
}

.btn-detail {
    padding: 6px 12px;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

/* ========== Popup Chi Tiết ========== */
.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.45);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.detail-box {
    width: 420px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.detail-box h2 {
    margin-top: 0;
}

#btnCloseDetail {
    margin-top: 15px;
    padding: 10px 18px;
    background: #d32f2f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.logout {
    color: red !important;
    cursor: pointer;
}
.logout:hover {
    opacity: 0.7;
}
