*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Bricolage Grotesque", sans-serif;
    display: flex;
    background: #f8f9fa;

    height: 100vh;        /* ⭐ full màn hình */
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: #1f2937;
    color: white;
    height: 100vh;
    padding: 20px;

    position: fixed;
    height: 100vh;
    overflow-y: auto; 
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 40px;
}

.sidebar .logo img {
    width: 80px;
    margin-bottom: 10px;
}

.sidebar nav a {
    display: block;
    color: #d1d5db;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.2s;
}

.sidebar nav a.active,
.sidebar nav a:hover {
    background: #374151;
    color: white;
}

/* Main content */
.main {
    flex: 1;
    padding: 30px;
    margin-left: 250px;  /* ⭐ chừa chỗ sidebar */
    height: 100vh;       /* ⭐ full chiều cao */
    overflow-y: auto; 
}

.title {
    font-size: 28px;
    margin-bottom: 30px;
}

/* Stat boxes */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.stat-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.stat-box h3 {
    color: #555;
    margin-bottom: 10px;
}

.stat-box p {
    font-size: 22px;
    font-weight: bold;
    color: #111;
}

/* Chart */
.chart-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.logout {
    color: red !important;
    cursor: pointer;
}
.logout:hover {
    opacity: 0.7;
}
